<section class="property-binding">

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Deu certo</option>
        <option value="alert-danger">Deu errado</option>
      </select>
      <br><br>
      <div class="alert {{ classe.value }}" role="alert">
        A cor muda ao mudar o select
      </div>
      <div class="alert" role="alert"
        [class.alert-success]="classe.value == 'alert-success'">
        Se ficou Verde, deu certo :)
      </div>
      <div class="alert alert-danger" role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Se ficou Vermelho, deu errado :(
      </div>
    </div>
  </article>

</section>


